p {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* inlines */

em {
  font-style: italic;
  font-family: serif;
}

strong {
  font-weight: bold;
  font-family: serif;
}

strong em, em strong, h1 em, h2 em, h3 em, h4 em {
  font-weight: bold;
  font-style: italic;
  font-family: serif;
}

code strong em, code em strong {
  font-weight: bold;
  font-style: italic;
  font-family: "Vera Mono", monospace;
}

code em, em code, pre em {
  font-family: "Vera Mono", monospace;
  font-style: italic;
}

code strong, strong code, pre strong {
  font-family: "Vera Mono", monospace;
  font-weight: bold;
}

code { 
  font-family: "Vera Mono", monospace;
}

.underline { text-decoration: underline; }

/* headings */

h1, h2, h3, h4, h5, h6 {
  text-align: left;
  page-break-inside: avoid;
  page-break-after: avoid;
  font-weight: bold;
  display: block;
  font-family: sans-serif;
}

h1 {
  font-size: 1.5em;
  color: #000033;
}

h2 {
  font-size: 1.3em;
  color: #000080;
}

h3 {
  font-size: 1.1em;
  color: #00009C;
}

h4 {
  font-size: 1em;
  font-style: italic;
}

h5 {
  font-size: 1em;
  font-style: italic;
}

h6 {
  font-size: 1em;
  font-style: italic;
}

/* images  */

img {
   max-width: 100%;
   margin: auto;
}

/* code blocks */

.programlisting {
  white-space: pre-wrap;
  font-family: "Vera Mono", monospace;
  font-size: 85%;
  margin-left: 1.5em;
  margin-bottom: 10px;
}
/* examples */

.example .title {
  font-weight: normal;
  font-style: italic;
  font-family: serif;
  page-break-after: avoid;
}

.example {  
  background-color: #F5F5F5;
}
 
@font-face {
  font-family: "DejaVu Serif";
  font-style: normal;
  font-weight: normal;
  src: url(DejaVuSerif.otf);
}

@font-face {
  font-family: "Vera Mono";
  font-weight: normal;
  font-style: normal;
  src: url(VeraMono.ttf);
}

@font-face {
  font-family: "Vera Mono";
  font-weight: bold;
  font-style: normal;
  src: url(VeraMoBd.ttf);
}

@font-face {
  font-family: "Vera Mono";
  font-weight: normal;
  font-style: italic;
  src: url(VeraMoIt.ttf);
}

@font-face {
  font-family: "Vera Mono";
  font-weight: bold;
  font-style: italic;
  src: url(VeraMoBI.ttf);
}

/* keep this body statement last */

body {
  font-family: "DejaVu Serif", serif;
  margin: 0;
  padding: 0;
  text-align: left;
}
