/* -- Style for jQuery Fundamentals DocBook HTML Output -- */
html {
background: #000;
}
body {
font-family: Georgia, serif;
margin: 0;
width: 100%;
background: #000033;
font-size: 1em;
line-height: 1.5em;
}
h1 {
color: #003;
letter-spacing: -2px;
font-family: Helvetica, sans-serif;
}
h2 {
color: #003;
letter-spacing: -1px;
font-family: Helvetica, sans-serif;
}
h2.title {
font-size:2.8em;
}
.section h2.title {
font-size:2em;
}
h3 {
color: #003;
letter-spacing: -1px;
font-family: Helvetica, sans-serif;
}
strong {
color: #000;
font-weight: normal;
background: #ffff66;
}

a {
color: #000;
text-decoration: none;
}
a[href] {
color: #000;
text-decoration: underline;
}
a[href]:hover {
text-decoration: none;
border-bottom: 1px dotted;
}

img {
border: 5px solid #eef;
padding: 5px;
}
pre {
font-size: 0.9em;
}

.container {
border-left: 5px solid #DDDDEE;
border-right: 5px solid #DDDDEE;
background: white;
}
.note {
background: #9DEF1F;
border: 5px solid #ADFF2F;
padding: 1em 1em 0 1em;
margin-bottom: 1em;
margin-left: 2em;
margin-right: 2em;
}
.titlepage {
margin-top: 2em;
}

.figure {
}
.example {
border-left: 1em solid #E6E6FA;
border-bottom: 1em solid #E6E6FA;
padding-left: 1em;
}
.example .title {
font-family:Helvetica;
}


.navheader td[align="right"], .navfooter td[align="right"] {
text-align: right;
}
.navheader th[align="center"], .navfooter th[align="center"] {
text-align: center;
}
.navheader, .navfooter {
font-family:Helvetica;
font-weight:normal;
font-size:80%;
}
.navheader th {
font-weight:normal;
}

.toc, .list-of-examples {
font-size: 1.5em;
font-weight: normal;
}
.toc dl dt,
.list-of-examples dl dt {
font-weight: normal;
margin:0 0 0.3em 0;
}
.toc dl,
.list-of-examples dl {
font-size: 0.9em;
margin-bottom: 0.5em;
}
.toc a,
.list-of-examples a {
border-bottom: 1px dotted #DDDDEE;
text-decoration: none;
}
.toc p,
.list-of-examples p {
font-size:2em;
font-family:Helvetica;
margin:0.8em 0 0.3em 0;
}

.part .toc p {
font-size:1.2em;
}

p.title {
margin-bottom: 0;
margin-top: 1em;
}
code.literal {
color: green;
}
code.varname {
color: maroon;
}
code.filename {
color: maroon;
}

.hl-doccomment, .hl-doccomment a {
color: grey;
}
.hl-keyword, .hl-keyword a {
color: blue;
}
.hl-string, .hl-string a {
color: green;
}
.hl-comment, .hl-comment a {
color: grey;
}
.hl-directive, .hl-directive a {
color: #800000;
}
.hl-attribute, .hl-attribute a {
}
.hl-value, .hl-value a {
}
.copyright {
	font-family:Helvetica, Arial, sans-serif;
	font-size:80%;
	font-style:italic;
}