body {
	font-family:Verdana;
	width:600px;
}
a { 
	color:red;
}
a:visited {
	color:#a00;
}
form {
	margin:20px 0;
}
.template {
	display:none;
}
.results {
	border:1px solid #ccc;
	padding:5px;
	margin:10px 0;
	font-size:60%;
}
.results p {
	margin:0 0 5px 0;
}
.results span.date {
	display:block;
	color:#aaa;
	font-style:italic;
}
.actions {
	margin:0 0 5px 0;
	list-style-type:none;
	overflow:hidden;
	padding:0;
	text-align:right;
}
.actions li {
	color:#666;
	display:inline;
	padding:2px 4px;
	margin:0 0 0 5px;
	cursor:pointer;
	background-color:#eee;
}
.collapsed p.tweet {
	display: none;
}
